.app {
  font-family: sans-serif;
  text-align: center;
}

.app__body {
  margin: auto;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(5, auto);
  background: #B2DF00;
  padding: 10px;
  max-width: 1080px;
}

@media only screen and (max-width: 780px) {
  .app__body {
    padding: 4px;
  }
}